<div class="background">
  <div>
    <h2>Laboratorio clínico San José</h2>
    <img src="assets/images/logo-blue.png" alt="logo" class="logo"/>
    <div class="content" style="height: 470px;">
      <h1>Bienvenido</h1>
      <img src="assets/images/medico.png" alt="logo" class="user"/>
      <div class = "input">
        <a>Correo electrónico</a>
      </div>
      <div class = "input">
        <a>Contraseña</a>
      </div>
      <button class="button">Iniciar Sesión</button>
      <div class="container">
        <p style="color: #230069;text-decoration:none;font-size: 20px;font-family: 'Georama';margin-left: 70px;">O introduce tu código de registro:</p>
        <div class="input" style="width: 390px;height: 35px;margin-left: 20px;">
          <a>Código</a>
        </div>
      </div>
      <button class="button">Registrarme</button>
    </div>
  </div>
</div>
