<form [formGroup]="myForm" (ngSubmit)="buscarCita()">
  <div class="row">
    <div class="column">
      <h1>Bienvenid&commat;, {{userName}}</h1>
      <img src="assets/images/laboratorista.png" alt="logo" class="logo"/>
    </div>
    <div class="column">
      <span class="register-form-title">
        Registrar examen
    </span>
    </div>
    <div class="column"></div>
  </div>
  <div class="row">
    <div class="column"></div>
    <div class="column">
      <!-- Campo de paciente -->
      <div class="wrap-input">
        <span class="label-input">Número de paciente</span>
        <input class="input"
               type="email"
               formControlName="patient_id"
               placeholder="ID del paciente para el que se solicita.">
        <span class="focus-input"></span>
    </div>
      <div *ngIf="myForm.get('patient_id')?.invalid && (myForm.get('patient_id')?.dirty || myForm.get('patient_id')?.touched)">
        <span class="error-msg">
            <span *ngIf="myForm.get('patient_id')?.errors?.['required']">El número de usuario es obligatorio.</span>
            <span *ngIf="myForm.get('patient_id')?.errors?.['minlength']">Debe ingresar un número de usuario válido.</span>
            <span *ngIf="myForm.get('patient_id')?.errors?.['maxlength']">Debe ingresar un número de usuario válido.</span>
        </span>
    </div>
    </div>
    <div class="column"></div>
  </div>
  <div class="row">
    <div class="column"></div>
    <div class="column">
      <!-- Campo de fecha -->
      <div class="wrap-input">
        <span class="label-input">Fecha de la cita</span>
        <input class="input"
          type="date"
          formControlName="date"
          placeholder="Las citas son de lunes a viernes">
        <span class="focus-input"></span>
      </div>
      <div *ngIf="myForm.get('date')?.touched">
        <span class="error-msg">
          <span *ngIf="myForm.get('date')?.errors?.['required']">El campo es obligatorio.</span>
        </span>
      </div>
    </div>
    <div class="column"></div>
  </div>
  <div class="row">
    <div class="column"></div>
    <div class="column" style="text-align: center;">
      <button class="button"
          [disabled]="myForm.invalid"
          type="submit">
          Buscar
      </button>
    </div>
    <div class="column"></div>
  </div>
</form>
  <!-- Aquí mostramos los datos después de buscar -->
  <div class="row" *ngIf="patientName && examDetails">
    <div class="column"></div>
    <div class="column"  style="text-align: center;">
      <h2 class="register-form-title" style="font-size: 25px;">Información de la cita</h2>
      <p class="text"><strong>Nombre del paciente:</strong> {{ patientName }}</p>
      <p class="text"><strong>Examen:</strong> {{ examDetails }}</p>
      <p class="text"><strong>Hora:</strong> {{ examHour }}</p>
      <button (click)="registrarCita()" class="button"
          type="submit">
          Aceptar
      </button>
    </div>
    <div class="column"></div>
  </div>

