
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.content {
  min-height: 90vh;
  min-width: 100vw;
}

main {
  padding-bottom: 30px;
  padding-top: 60px;
}

app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

app-header {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
