.background {
  position: relative;
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("/assets/images/background.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.6;
  z-index: -1;
}

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login {
  width: 500px;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: white;
  border-radius: 25px;
  margin-top: 0px;
  border: 2px solid black;
}

h2 {
  font-size: 35px;
  font-family: 'Georama';
  font-weight: 680;
  margin:5px;
}
